<%- include('../adminlayouts/header.ejs') -%>
<main id="main-wrapper" class="main-wrapper">
  <div class="header">
    <!-- navbar -->
    <div class="navbar-custom navbar navbar-expand-lg">
      <div class="container-fluid px-0">
        <a class="navbar-brand d-block d-md-none" href="/admin/adminhome">
        <img src="/admin/images/brand/logo/logo-2.svg" alt="Image">
        </a>
        <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
            <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
        <div class="d-none d-md-none d-lg-block">
          <!-- Form -->
          <form action="#">
            <div class="input-group ">
              <input class="form-control rounded-3" type="search" value="" id="searchInput" placeholder="Search">
              <span class="input-group-append">
                <button class="btn  ms-n10 rounded-0 rounded-end" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search text-dark">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!--Navbar nav -->
        <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
          <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </a>
          </li>
          <li class="dropdown ms-2">
            <a class="rounded-circle" href="#!" role="button" id="dropdownUser"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img alt="avatar" src="/admin/images/avatar/JISHNU SUIT.jpg" class="rounded-circle">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownUser">
              <div class="px-4 pb-0 pt-2">
                <div class="lh-1 ">
                  <h5 class="mb-1"> Jishnu Raghavan</h5>
                  <a href="#!" class="text-inherit fs-6">View my profile</a>
                </div>
                <div class=" dropdown-divider mt-3 mb-2"></div>
              </div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit
                  Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                    href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="activity"></i>Activity Log
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="settings"></i>Settings
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/signout">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="power"></i>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- navbar vertical -->
  <!-- Sidebar -->
  <div class="navbar-vertical navbar nav-dashboard">
    <div class="h-100" data-simplebar>
      <!-- Brand logo -->
      <a class="navbar-brand" href="/adminhome">
      <img src="/admin/images/brand/logo/logo-2.svg" alt="dash ui - bootstrap 5 admin dashboard template">
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow  collapsed " href="#!"
            data-bs-toggle="collapse" data-bs-target="#navDashboard" aria-expanded="false"
            aria-controls="navDashboard">
          <i data-feather="home" class="nav-icon me-2 icon-xxs" ></i>
          Dashboard
          </a>
          <div id="navDashboard" class="collapse "
            data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">Website</div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow  collapsed " href="#!"
            data-bs-toggle="collapse" data-bs-target="#navecommerce" aria-expanded="false"
            aria-controls="navecommerce">
          <i data-feather="shopping-cart" class="nav-icon me-2 icon-xxs" >
          </i> Ecommerce
          </a>
          <div id="navecommerce" class="collapse "
            data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow active" href="/admin/productList">
                  Product List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/productEdit">
                Add Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="/admin/categoryList">
                  Category List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="/admin/orderList">
                  Order List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/ecommerce-customer">
                Customer
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/addCoupon">
                Coupon
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/CouponList">
                Coupon List
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!-- Page Content -->
  <div id="app-content">
    <!-- Container fluid -->
    <div class="app-content-area">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <!-- Page header -->
            <div class="mb-5">
              <h3 class="mb-0 ">Banners</h3>
            </div>
          </div>
        </div>
        <div>
          <!-- row -->
          <div class="row">
            <div class="col-12">
              <!-- card -->
              <div class="card mb-4">
                <!-- card body -->
                <form action="/admin/addShopBanner" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div>
                      <div class="card mt-5">
                        <div class="mt-n5">
                          <div class="sa-divider"></div>
                          <div class="table-responsive">
                            <table style="width: 95%;">
                              <thead style="width: 100%;">
                                <tr>
                                  <th class="w-min">Image</th>
                                  <th class="min-w-10x">Alt text</th>
                                  <th class="w-min"></th>
                                </tr>
                              </thead>
                              <tbody style="width: 100%;">
                                <div class="d-flex justify-content-between">
                                  <h4>shop page</h4>
                                  <% if(typeof message !== 'undefined') { %>
                                    <div><%= message %></div>
                                  <% } %>
                                  <button type="submit" class="btn">save</button>
                                </div>
                                <tr>
                                  <td>
                                    <% if (banner) { %>
                                      <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                        <img src="/productimg/<%= banner.shopBannerImage %>" width="40" height="40" alt=""/>
                                      </div>
                                    <% } %>
                                  </td>
                                  <td><input type="text" class="form-control form-control-sm"/></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="sa-divider"></div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <p>Add shop page banner Image.</p>
                        <!-- input -->
                        <input name="shopBannerImage" type="file" class="form-control" accept="image/*" />
                      </div>
                    </div>
                  </div>
                </form>
                <form action="/admin/addProductDetailBanner" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div>
                      <div class="card mt-5">
                        <div class="mt-n5">
                          <div class="sa-divider"></div>
                          <div class="table-responsive">
                            <table style="width: 95%;">
                              <thead style="width: 100%;">
                                <tr>
                                  <th class="w-min">Image</th>
                                  <th class="min-w-10x">Alt text</th>
                                  <th class="w-min"></th>
                                </tr>
                              </thead>
                              <tbody style="width: 100%;">
                                <div class="d-flex justify-content-between">
                                  <h4>product details page</h4>
                                  <% if(typeof message !== 'undefined') { %>
                                    <div><%= message %></div>
                                  <% } %>
                                  <button type="submit" class="btn">save</button>
                                </div>
                                <tr>
                                  <td>
                                    <% if (banner) { %>
                                      <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                        <img src="/productimg/<%= banner.singleProductBannerImage %>" width="40" height="40" alt=""/>
                                      </div>
                                    <% } %>
                                  </td>
                                  <td><input type="text" class="form-control form-control-sm"/></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="sa-divider"></div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <p>Add product details page banner Image.</p>
                        <!-- input -->
                        <input name="singleProductBannerImage" type="file" class="form-control" accept="image/*" />
                      </div>
                    </div>
                  </div>
                </form>
                <form action="/admin/addCartBanner" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div>
                      <div class="card mt-5">
                        <div class="mt-n5">
                          <div class="sa-divider"></div>
                          <div class="table-responsive">
                            <table style="width: 95%;">
                              <thead style="width: 100%;">
                                <tr>
                                  <th class="w-min">Image</th>
                                  <th class="min-w-10x">Alt text</th>
                                  <th class="w-min"></th>
                                </tr>
                              </thead>
                              <tbody style="width: 100%;">
                                <div class="d-flex justify-content-between">
                                  <h4>cart page</h4>
                                  <% if(typeof message !== 'undefined') { %>
                                    <div><%= message %></div>
                                  <% } %>
                                  <button type="submit" class="btn">save</button>
                                </div>
                                <tr>
                                  <td>
                                    <% if (banner) { %>
                                      <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                        <img src="/productimg/<%= banner.cartPageBannerImage %>" width="40" height="40" alt=""/>
                                      </div>
                                    <% } %>
                                  </td>
                                  <td><input type="text" class="form-control form-control-sm"/></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="sa-divider"></div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <p>Add cart page banner Image.</p>
                        <!-- input -->
                        <input name="cartPageBannerImage" type="file" class="form-control" accept="image/*" />
                      </div>
                    </div>
                  </div>
                </form>
                <form action="/admin/addCheckoutBanner" method="post" enctype="multipart/form-data">
                  <div class="card-body">
                    <div>
                      <div class="card mt-5">
                        <div class="mt-n5">
                          <div class="sa-divider"></div>
                          <div class="table-responsive">
                            <table style="width: 95%;">
                              <thead style="width: 100%;">
                                <tr>
                                  <th class="w-min">Image</th>
                                  <th class="min-w-10x">Alt text</th>
                                  <th class="w-min"></th>
                                </tr>
                              </thead>
                              <tbody style="width: 100%;">
                                <div class="d-flex justify-content-between">
                                  <h4>checkout page</h4>
                                  <% if(typeof message !== 'undefined') { %>
                                    <div><%= message %></div>
                                  <% } %>
                                  <button type="submit" class="btn">save</button>
                                </div>
                                <tr>
                                  <td>
                                    <% if (banner) { %>
                                      <div class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg">
                                        <img src="/productimg/<%= banner.checkoutBannerImage %>" width="40" height="40" alt=""/>
                                      </div>
                                    <% } %>
                                  </td>
                                  <td><input type="text" class="form-control form-control-sm"/></td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="sa-divider"></div>
                        </div>
                      </div>
                      <div class="mb-4">
                        <p>Add chekcout page banner Image.</p>
                        <!-- input -->
                        <input name="checkoutBannerImage" type="file" class="form-control" accept="image/*" />
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Scripts -->
<!-- flatpickr -->
<script src="/admin/libs/flatpickr/dist/flatpickr.min.js"></script>
<!-- Libs JS -->
<script src="/admin/libs/jquery/dist/jquery.min.js"></script>
<script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/admin/libs/feather-icons/dist/feather.min.js"></script>
<script src="/admin/libs/simplebar/dist/simplebar.min.js"></script>
<!-- Theme JS -->
<script src="/admin/js/theme.min.js"></script>
<!-- popper js -->
<script src="/admin/libs/%40popperjs/core/dist/umd/popper.min.js"></script>
<!-- tippy js -->
<script src="/admin/libs/tippy.js/dist/tippy-bundle.umd.min.js"></script>
<script src="/admin/js/vendors/tooltip.js"></script>

<%- include('../adminlayouts/footer.ejs') -%>