<%- include('../adminlayouts/header.ejs') -%>
<main id="main-wrapper" class="main-wrapper">
  <div class="header">
    <!-- navbar -->
    <div class="navbar-custom navbar navbar-expand-lg">
      <div class="container-fluid px-0">
        <a class="navbar-brand d-block d-md-none" href="/admin/adminhome">
        <img src="/admin/images/brand/logo/logo-2.svg" alt="Image">
        </a>
        <a id="nav-toggle" href="#!" class="ms-auto ms-md-0 me-0 me-lg-3 ">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-text-indent-left text-muted" viewBox="0 0 16 16">
            <path d="M2 3.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm.646 2.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L4.293 8 2.646 6.354a.5.5 0 0 1 0-.708zM7 6.5a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 3a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm-5 3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </a>
        <div class="d-none d-md-none d-lg-block">
          <!-- Form -->
          <form action="#">
            <div class="input-group ">
              <input class="form-control rounded-3" type="search" value="" id="searchInput" placeholder="Search">
              <span class="input-group-append">
                <button class="btn  ms-n10 rounded-0 rounded-end" type="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-search text-dark">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                  </svg>
                </button>
              </span>
            </div>
          </form>
        </div>
        <!--Navbar nav -->
        <ul class="navbar-nav navbar-right-wrap ms-lg-auto d-flex nav-top-wrap align-items-center ms-4 ms-lg-0">
          <a href="#" class="form-check form-switch theme-switch btn btn-ghost btn-icon rounded-circle mb-0 ">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </a>
          </li>
          <li class="dropdown ms-2">
            <a class="rounded-circle" href="#!" role="button" id="dropdownUser"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="avatar avatar-md avatar-indicators avatar-online">
                <img alt="avatar" src="/admin/images/avatar/JISHNU SUIT.jpg" class="rounded-circle">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownUser">
              <div class="px-4 pb-0 pt-2">
                <div class="lh-1 ">
                  <h5 class="mb-1"> Jishnu Raghavan</h5>
                  <a href="#!" class="text-inherit fs-6">View my profile</a>
                </div>
                <div class=" dropdown-divider mt-3 mb-2"></div>
              </div>
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon" data-feather="user"></i>Edit
                  Profile
                  </a>
                </li>
                <li>
                  <a class="dropdown-item"
                    href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="activity"></i>Activity Log
                  </a>
                </li>
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#!">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="settings"></i>Settings
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/admin/signout">
                  <i class="me-2 icon-xxs dropdown-item-icon"
                    data-feather="power"></i>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- navbar vertical -->
  <!-- Sidebar -->
  <div class="navbar-vertical navbar nav-dashboard">
    <div class="h-100" data-simplebar>
      <!-- Brand logo -->
      <a class="navbar-brand" href="/adminhome">
      <img src="/admin/images/brand/logo/logo-2.svg" alt="dash ui - bootstrap 5 admin dashboard template">
      </a>
      <!-- Navbar nav -->
      <ul class="navbar-nav flex-column" id="sideNavbar">
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow  collapsed " href="#!"
            data-bs-toggle="collapse" data-bs-target="#navDashboard" aria-expanded="false"
            aria-controls="navDashboard">
          <i data-feather="home" class="nav-icon me-2 icon-xxs" ></i>
          Dashboard
          </a>
          <div id="navDashboard" class="collapse "
            data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
            </ul>
          </div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <div class="navbar-heading">Website</div>
        </li>
        <!-- Nav item -->
        <li class="nav-item">
          <a class="nav-link has-arrow  collapsed " href="#!"
            data-bs-toggle="collapse" data-bs-target="#navecommerce" aria-expanded="false"
            aria-controls="navecommerce">
          <i data-feather="shopping-cart" class="nav-icon me-2 icon-xxs" >
          </i> Ecommerce
          </a>
          <div id="navecommerce" class="collapse "
            data-bs-parent="#sideNavbar">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link has-arrow active" href="/admin/productList">
                  Product List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow "
                  href="/admin/productEdit">
                Add Product
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow active" href="/admin/categoryList">
                  Category List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow" href="/admin/orderList">
                  Order List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/ecommerce-customer">
                Customer
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/addCoupon">
                Coupon
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/CouponList">
                Coupon List
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link has-arrow"
                  href="/admin/bannerManagement">
                banner management
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <!--page content-->
  <% if(typeof categories !== 'undefined') { %>
  <div id="app-content">
    <div class="app-content-area">
      <div class="container">
        <div class="py-5">
          <div class="row g-4 align-items-center">
            <div class="col">
              <h1 class="h3 m-0">Categories</h1>
            </div>
            <div class="col-auto d-flex"><a href="/admin/addCategorypage" class="btn btn-primary">New category</a></div>
          </div>
        </div>
        <div class="card">
          <div class="p-4"><input type="text" placeholder="Start typing to search for categories" class="form-control form-control--search mx-auto" id="table-search"/></div>
          <div class="sa-divider"></div>
          <table class="sa-datatables-init" data-order="[[ 1, &quot;asc&quot; ]]" data-sa-search-input="#table-search">
            <thead>
              <tr>
                <th class="w-min" data-orderable="false"><input type="checkbox" class="form-check-input m-0 fs-exact-16 d-block" aria-label="..."/></th>
                <th class="min-w-15x">Name</th>
                <th>Items</th>
                <th>Visibility</th>
                <th class="w-min" data-orderable="false"></th>
              </tr>
            </thead>
            <tbody>
              <% categories.forEach((category)=> { %>
                <% if (typeof category !== 'undefined') { %>
              <tr>
                <td><input type="checkbox" class="form-check-input m-0 fs-exact-16 d-block" aria-label="..."/></td>
                <td>
                  <form action="/admin/subcategoryList" method="post">
                    <input type="hidden" value="<%= category.maincategory %>" name="mainCategory">
                    <button style="border: transparent; background-color: transparent;" type="submit" class="text-reset"><%= category.maincategory %></button>
                  </form>
                </td>
                <td><%= category.subcategory.length %></td> 
                <td>
                  <div class="badge badge-sa-success" style="color: green;"><%= category.visibility %></div>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-sa-muted btn-sm" type="button" id="category-context-menu-0" data-bs-toggle="dropdown" aria-expanded="false" aria-label="More">
                      <svg xmlns="http://www.w3.org/2000/svg" width="3" height="13" fill="currentColor">
                        <path d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z"></path>
                      </svg>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="category-context-menu-0">
                      <li><form action="/admin/editCategory"></form><button class="dropdown-item" href="#">Edit</button></li>
                      <li><a class="dropdown-item text-danger" href="#">Delete</a></li>
                    </ul>
                  </div>
                </td>
              </tr>
              <% } %>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</main>
  <!-- Page Content -->

      <!-- sa-app__toolbar / end --><!-- sa-app__body -->
      
      <!-- sa-app__body / end --><!-- sa-app__footer -->
      <div class="sa-app__footer d-block d-md-flex">
        <!-- copyright -->Stroyka Admin — eCommerce Dashboard Template © 2021
        <div class="m-auto"></div>
        <div>Powered by HTML — Design by <a href="https://themeforest.net/user/kos9/portfolio">Kos</a></div>
        <!-- copyright / end -->
      </div>
      <!-- sa-app__footer / end -->
    </div>
    <!-- sa-app__content / end --><!-- sa-app__toasts -->
    <div class="sa-app__toasts toast-container bottom-0 end-0"></div>
    <!-- sa-app__toasts / end -->
  </div>
  <!-- sa-app / end --><!-- scripts --><script src="vendor/jquery/jquery.min.js"></script><script src="vendor/feather-icons/feather.min.js"></script><script src="vendor/simplebar/simplebar.min.js"></script><script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script><script src="vendor/highlight.js/highlight.pack.js"></script><script src="vendor/quill/quill.min.js"></script><script src="vendor/air-datepicker/js/datepicker.min.js"></script><script src="vendor/air-datepicker/js/i18n/datepicker.en.js"></script><script src="vendor/select2/js/select2.min.js"></script><script src="vendor/fontawesome/js/all.min.js" data-auto-replace-svg="" async=""></script><script src="vendor/chart.js/chart.min.js"></script><script src="vendor/datatables/js/jquery.dataTables.min.js"></script><script src="vendor/datatables/js/dataTables.bootstrap5.min.js"></script><script src="vendor/nouislider/nouislider.min.js"></script><script src="vendor/fullcalendar/main.min.js"></script><script src="js/stroyka.js"></script><script src="js/custom.js"></script><script src="js/calendar.js"></script><script src="js/demo.js"></script><script src="js/demo-chart-js.js"></script>
  <script src="/admin/libs/dropzone/dist/min/dropzone.min.js"></script>
  <!-- flatpickr -->
  <script src="/admin/libs/flatpickr/dist/flatpickr.min.js"></script>
  <!-- quill js -->
  <script src="/admin/libs/quill/dist/quill.min.js"></script>
  <script src="../assets/libs/%40yaireo/tagify/dist/tagify.min.js"></script>
  <!-- Libs JS -->
  <script src="/admin/libs/jquery/dist/jquery.min.js"></script>
  <script src="/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/admin/libs/feather-icons/dist/feather.min.js"></script>
  <script src="/admin/libs/simplebar/dist/simplebar.min.js"></script>
  <!-- Theme JS -->
  <script src="/admin/js/theme.min.js"></script>

<%- include('../adminlayouts/footer.ejs') -%>